:root {
  --branding-color: #718a7b;
  --background-color: #2d2d2e;
  --highlight-color: #f7f2f0;
  --main-type-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --secondary-type-family: "Garamond";
}

body {
  background: var(--background-color);
  border: 6px solid #f7f2f0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
}

.logo {
  max-width: 60px;
}
.menu {
  float: right;
  padding: 13px;
}
.menu a {
  color: var(--branding-color);
  text-decoration: none;
  margin: 10px;
  font-family: var(--main-type-family);
  font-style: italic;
  text-transform: uppercase;
  font-size: 10px;
}
h1 {
  color: var(--branding-color);
  font-family: var(--main-type-family);
  letter-spacing: 20px;
  font-size: 50px;
  text-align: center;
  margin-top: 200px;
}

h2 {
  color: var(--highlight-color);
  font-family: var(--main-type-family);
  letter-spacing: 10px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 60px;
}
h3 {
  color: var(--branding-color);
  font-size: 15px;
  line-height: 20px;
  font-style: italic;
  text-align: center;
}

h4 {
  color: var(--highlight-color);
  font-family: var(--main-type-family);
  letter-spacing: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

p {
  font-family: var(--secondary-type-family);
  color: var(--highlight-color);
  letter-spacing: 1px;
  font-size: 13px;
}

.hero {
  margin: 100px;
}
.primary-image {
  float: right;
  padding: 10px;
  margin-top: 30px;
}
.primary-text {
  padding-right: 60px;
}
.primary-button {
  background: var(--background-color);
  border: solid 1px var(--highlight-color);
  color: var(--branding-color);
  padding: 13px;
  text-decoration: none;
  font-family: var(--main-type-family);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
}

.primary-button:hover {
  opacity: 30%;
  color: var(--highlight-color);
}

.secondary-image {
  float: left;
  padding: 10px;
  margin-top: 30px;
}

.secondary-text {
  padding-left: 60px;
  text-align: right;
}

.about-hero {
  padding: 60px;
}

.work-with-me {
  text-align: center;
  padding: 40px;
  background: rgb(247, 242, 240, 20%);
  margin: 100, 100;
}
.work-button {
  background: var(--background-color);
  opacity: 50%;
  border: solid 1px var(--highlight-color);
  color: var(--highlight-color);
  padding: 13px;
  text-decoration: none;
  font-family: var(--main-type-family);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
}

.work-button:hover {
  opacity: 30%;
  color: var(--highlight-color);
}

.display-insta {
  display: block;
  text-align: center;
}
.footer {
  margin: 100px;
}
.foot {
  margin-bottom: 20px;
  background-color: var(--highlight-color);
  padding: 10px;
  margin: 0;
  margin-right: -100;
}
.erc-ink,
.insta {
  color: var(--background-color);
  text-decoration: none;
  font-style: italic;
  font-size: 13px;
}
.erc-ink:hover,
.insta:hover {
  color: var(--branding-color);
  opacity: 50%;
}

.insta {
  float: right;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 900px) {
  .work-images {
    max-width: 900px;
  }
}
